<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-5">
		<h1>Check In</h1>
		<form method="post" action="/check-in" id="new-check-in-form">
			<%- include('./form-groups.ejs') %>
			<div class="text-right">
				<button id="submitButton" type="submit" class="btn btn-dark" data-test="submit">
					Submit	
				</button>
			</div>
		</form>
	</div>
</div>
<!-- <script src="/js/_fetch.js"></script>
<script>
	const form = document.getElementById("new-check-in-form");
	form.addEventListener("submit", (event) => {
		if (handleFormSubmit(event, "POST")) {
			const nameInput = document.getElementById('name');
			showBanner(`Success.`, 'success');
			form.reset();
		}
	});
</script> -->